@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-secondary: #F8F8F8;
  --color-accent: #E30613;
  --color-background: #ffffff;
  --color-ink: #4A4A4A;

  --font-display: "Oswald", "Montserrat", sans-serif;
  --font-sans: "Inter", "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-ink font-sans;
  }
  h1, h2, h3, h4 {
    @apply font-display uppercase tracking-tight;
  }
}

.industrial-grid {
  background-image: radial-gradient(circle, #12121211 1px, transparent 1px);
  background-size: 24px 24px;
}
